.dnd-item-action {
  display: flex;
  width: 12px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  cursor: var(--cursor, pointer);
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .dnd-item-action:hover {
    background-color: var(--action-background, rgba(0, 0, 0, 0.05));
  }
  .dnd-item-action:hover svg {
    fill: #6f7b88;
  }
}

.dnd-item-action svg {
  flex: 0 0 auto;
  margin: auto;
  height: 100%;
  overflow: visible;
  fill: #919eab;
}

.dnd-item-action:active {
  background-color: var(--background, rgba(0, 0, 0, 0.05));
}
.dnd-item-action:active svg {
  fill: var(--fill, #788491);
}

.dnd-item-action:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px rgba(255, 255, 255, 0),
    0 0 0 2px #4c9ffe;
}
